@import "tailwindcss";

/* Forçando o fundo claro e o texto escuro na página toda */
body {
  background-color: #f8fafc !important;
  color: #0f172a !important;
}

/* Forçando os inputs e seleções a ficarem brancos e legíveis */
input, select, textarea, option {
  background-color: #ffffff !important;
  color: #0f172a !important;
  border-color: #cbd5e1 !important;
}